{% extends 'core/base.html' %}
{% block title %} About me {% endblock %}
{% block background %} {% load static %} {% static 'core/img/about-bg.jpg' %} {% endblock %} 
{% block headers%}
<h1>About me</h1>
<span class="subheading">Biography</span>
{% endblock %}
{% block content %}
<div class="row">   
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/profile-photo.jpg' %}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Sebastian García</h2>   
    <p style="text-align: justify;">I'm Sebastian Garcia Tamayo, born on February 27/2000, in Cerrito Valle. I'm passionate about web development and biotechnology.
       In my free time, I enjoy playing video games, singing, staying active through sports, and studying.
       I'm also a proud owner of two lovely cats, and I have a deep affection for pizza!</p>
  </div>
</div>  
{% endblock %}
