{% extends 'core/base.html' %}
{% block title %} Contact {% endblock %}
{% block background %} {% load static %} {% static 'core/img/contact-bg.jpg' %} {% endblock %} 
{% block headers%}
<h1>Contact</h1>
<span class="subheading">advisory</span>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p>If you would like to contact me, my contact information is as follows:</p>
    <p><b>Phone Number:</b> +57 315 660 3887</p>
    <p><b>E-mail:</b> sebas-0202@hotmail.es</p>
    {% comment %} <p><b>Honorarios:</b> 60€/h (precio base)</p> {% endcomment %}
  </div>
</div>
{% endblock %}
